<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="copyhead">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>航班座位自动分配系统</title>
    <link rel="stylesheet" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{~/bower_components/bootstrap/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../../bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../../bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css"
          th:href="@{~/bower_components/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" href="../../bower_components/Ionicons/css/ionicons.min.css"
          th:href="@{~/bower_components/Ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" href="../../bower_components/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../../bower_components/morris.js/morris.css">
    <link rel="stylesheet" href="../../dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="../../dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../../plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css" th:href="@{~/plugins/iCheck/square/blue.css}">
    <link rel="stylesheet" type="text/css" href="../../outlink/pagination.css" media="screen">
    <link rel="stylesheet" type="text/css" href="../../outlink/hover.css" media="screen">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link href="../../outlink/switch/bootstrap-switch.css" rel="stylesheet">
    <link rel="stylesheet" href="../../outlink/assets/css/amazeui.css"/>
    <link rel="stylesheet" href="../../outlink/switch/amazeui.switch.css"/>
</head>
</html>